<mat-toolbar color="primary" class="flex justify-between">
    <div>
        <span class="mr-5">Friendster</span>
        <a mat-button>Home</a>
        <a mat-button>My Profile</a>
        <a mat-button>Friends</a>
    </div>
    <div class="justify-self-end" >
        <div class="flex justify-around">
            <img src="../../assets/images/profile.jpg" class="w-10 h-10 rounded-full">
            <a mat-button> Rhon Umahon</a>

        </div>
        
    </div>
  </mat-toolbar>
  <mat-progress-bar color="accent" mode="determinate" value="40"></mat-progress-bar>